<nav class="top-navbar">
    <label class="logo"><a routerLink="">Rochester Parkour</a></label>
      <input type="checkbox" id="check">
        <label for = "check" class="checkbtn">
          <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Log Out</a></li>

    </ul>
  </nav>

<div class="product-list">
<h2>My Products</h2>
    <a routerLink="/newProduct">
        <button class="add">
        Add Product
    </button>
    </a>

<ul >
    <li *ngFor="let product of products">
        <a routerLink="/detail/{{product.id}}">
            <button> 
            <span class="badge">{{product.id}}</span>
            <br>
            <span class="name">{{product.Name}}</span>
        </button>
        </a>
    </li>
</ul>

</div>

