.product-list{
    margin-top: 90px;
    margin-left:10em;
}
.product-list button{
    height:40px;
    width: 100px;
    margin: 5px;;
}
.product-list button:hover{
    background-color: aqua;
}
.detail{
    float: right;
    margin-right: 100px;
}
.product-list .add{
    float: right;
    margin-right: 800px;
}
.product-list a{
    text-decoration: none;
    color: black;
}
