.product-list{
    margin-top: 70px;
    margin-left:10em;
    position: relative;
    top: 39px;
}
.product-list button{
    height:40px;
    width: 100px;
    margin: 5px;;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.product-list button:hover{
    background-color: aqua;
}
.detail{
    float: right;
    margin-right: 100px;
}
.product-list .add{
    float: right;
    margin-right: 800px;
}
.product-list a{
    text-decoration: none;
    color: black;
}
