<body>

    <app-navigation-bar></app-navigation-bar>
<div *ngIf="product">
    <h2>{{product.Name}} course</h2>
    <div id="Product-Details">
        Instructed By {{product.Instructor}}
    </div>
    <div id="addProductReview">

        <i>Select your rating (1-5): </i><input type="number" min="1" max="5" placeholder="#" size="50" #rating>
        <br>
        <textarea name="" id="" cols="30" rows="5" placeholder="Enter a review..." #review></textarea>
        <br>
        
        <input type="submit" style="height: 30px; width: 60px; top: 10px; position: relative;" (click)="AddRating(rating.valueAsNumber,review.value)">
        <br>
    </div>
</div>
</body>