<body>

    <app-navigation-bar></app-navigation-bar>

<div *ngIf="product">
    <div class="Product-Details">
        Name: {{product.Name}} <br>
        Instructed By: {{product.Instructor}}
    </div>
    <div class="addProductReview">
        <input type="number" min="1" max="5" placeholder="Select your rating (1-5)" size="50" #rating>
        <br>
        <textarea name="" id="" cols="30" rows="5" placeholder="Place holder text" #review></textarea>
        <br>
        
        <input type="submit" (click)="AddRating(rating.valueAsNumber,review.value)">
        <br>
    </div>
</div>
</body>