<!DOCTYPE html>

<div>
    <head>
        <title>About Page</title>
    </head>


    <body>
        
        <img src="https://i.ibb.co/KhqFhnF/iamgeee.jpg" alt="beachrunning" class="center">

        <nav class="top-navbar">
            <label class="logo"><a routerLink="">Rochester Parkour</a></label>
              <input type="checkbox" id="check">
                <label for = "check" class="checkbtn">
                  <i class="fas fa-bars"></i>
            </label>
            <ul>
              <li><a routerLink="/about" routerLinkActive="active">about</a></li>
              <li><a routerLink="/shoppingcart" routerLinkActive="active">shopping cart</a></li>
              <li><a routerLink="/signup" routerLinkActive="active">signup</a></li>
              <li><a routerLink="/login" routerLinkActive="active">login</a></li>
            </ul>
          </nav>

            <p class="who-we-are">
                <span class="story">Our Story</span> 
                <br class="break-text">

            The thought for Rochester Parkour started amid a night run on the shoreline – for what reason can’t an activity machine recreate those delicate, testing, however, fun runs? <br>
            
            Presenting Rochester Parkout – the world’s first delicate surface interim mentor <br>
            
            The possibility that you needed to either pound your body on the hard surface of a treadmill or get an unnatural, substandard exercise on a circular didn’t bode well – for what reason wouldn’t you be able to have both an incredible exercise and low effect? <br>
            
            Resolved to discover an answer, sprinter and wellness industry veteran Paul Toback, collaborated with another wellness industry veteran, Steven Lenz, to make the company name. <br>
            
            Paul had been a senior wellness official for over 10 years. As Chairman, previous president, and CEO of the Fitness club, the biggest, traded on an open market gym organization on the planet, Jack Paul comprehends the needs and needs of gym clients. <br>
            
            Steven, a specialist build, item originator, and trend-setter, has been in the wellness business for almost 20 years including 13 years at Life Fitness, the biggest and most regarded wellness gear maker on the planet. <br>
            
            There he filled in as head of mechanical building and VP of designing, managing the advancement of in excess of 90 new items. Before starting his work on the company name, Steven effectively held 10 U.S. licenses. <br>

            Together, Paul and Steven brought Rochester Parkour to life by incorporating their assembling, working and client encounters to make a bit of activity gear that is instinctive, adaptable, and amusing to utilize. <br>
            
            In particular, Rochester Parkour has less effect than a circular and the exercise of a treadmill. What’s more, truly, it has a craving for running on the shoreline. What started after a keep running on the shoreline is currently prepared for you to appreciate. <br>
        
            <br>
            Train hard. Land delicate. <br>
            </p>
    </body>
</div>

