<div *ngIf="product" class="product-details">

    <h2>{{product.Name }} Details</h2>
    <div><span>id: </span>{{product.id}}</div>
    <div>
      <label for="product-name">Product name: </label>
      <input id="product-name" [(ngModel)]="product.Name" placeholder="name">
      <br>
      <label for="product-instructor">Instructor:</label>
      <input id="product-instructor" [(ngModel)]="product.Instructor" placeholder="Instructor">
      <br>
      <label for="product-type">Type:</label>
      <input id="product-type" [(ngModel)]="product.Type" placeholder="Type">
      <br>
      <label for="product-room">Room Number:</label>
      <input id="product-room" [(ngModel)]="product.Room_Number" placeholder="Room Number">
      <br>
      <label for="product-aval">Availability:</label>
      <input id="product-aval" [(ngModel)]="product.Available" placeholder="Availability">
      <br>
      <label for="product-price">Price:</label>
      <input id="product-price" [(ngModel)]="product.Price" placeholder="Price">
    </div>
    
    <button type="button" class="delete" title="delete hero"
    (click)="delete(product)">Delete This Product</button>

    <button type="button" class="save" (click)="save()">save</button>
  </div>