
<body>

    <nav class="top-navbar">
        <label class="logo"><a routerLink="">Rochester Parkour</a></label>
          <input type="checkbox" id="check">
            <label for = "check" class="checkbtn">
              <i class="fas fa-bars"></i>
        </label>
        <ul>
          <li><a routerLink="/about" routerLinkActive="active">about</a></li>
          <li><a routerLink="/shoppingcart" routerLinkActive="active">shopping cart</a></li>
          <li><a routerLink="/signup" routerLinkActive="active">signup</a></li>
          <li><a routerLink="/login" routerLinkActive="active">login</a></li>
        </ul>
      </nav>


</body>

<form action="action_page.php" method="PUT">
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required #user>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required #pass>

      <!--type="submit" 
        <label> <input type="checkbox" checked="checked" name="remember"> Remember me </label>
        <span class="psw">Forgot <a href="#">password?</a></span>
      -->
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type ="button" class="loginbtn" style="float: right;" (click)=" doLogin(user.value,pass.value);user.value='';pass.value=''; ">Login</button> 
      <button type="button" class="cancelbtn" (click)="user.value='';pass.value=''"> Cancel</button>
      
    </div>
  </form>

