<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <app-navigation-bar></app-navigation-bar>
<div *ngIf="product" class="product-details">
    
    <h2>{{product.Name }} course</h2>
    <!-- <div><span>id: </span>{{product.id}}</div> -->
    <div>
      <!-- <label for="product-name">Course is about: </label>
      {{product.Name}}
      <br> -->

      <!-- USE BELOW FOR OTHER PAGE - HOW TO USE DIFFERENT BORDER RADIUS -->
      <div id="melissa-instructor"><img src="https://media.istockphoto.com/id/856797530/photo/portrait-of-a-beautiful-woman-at-the-gym.jpg?s=612x612&w=0&k=20&c=0wMa1MYxt6HHamjd66d5__XGAKbJFDFQyu9LCloRsYU=" alt="melissa" 
        style="border-radius:99%"></div>
      <!-- <style></style> -->
      <div id="instructor-name-melissa">
        <label for="product-instructor">Instructor: </label>
        {{product.Instructor}} <br>
      </div>
      <div id="class-type-abs">
      <label for="product-type">Type of class:</label>
      {{product.Type}}      <br>
      </div>
      <!-- <label for="product-room">Room Number:</label>
      {{product.Room_Number}}      <br>
      <label for="product-aval">Availability:</label>
      {{product.Available}}      <br> -->
      <div id="price">
        <label for="product-price">Price:</label>
        {{product.Price}} 
      </div>
      <br>
      <div id="ratings-product">
        <!-- how to style ratings -->
      <label *ngIf="product.Ratings.length!=0" for="product-price">
        <h3>Ratings</h3>
      </label>
        <div *ngFor="let rating of product.Ratings">
            {{rating.RatingInNumber}}  {{rating.Review}} . {{rating.Username}}
        </div> 
      </div>
    </div>
    <!-- <div id="align-add-button"> -->
      <button type="button" id="add-to-cart" class="save" (click)="addToCart(product.id)">Add to cart
        <i class="fa fa-shopping-cart"></i>
      </button>
    <!-- </div> -->
    <button type="button" id="go-back" class="go-back" (click)="goBack()">Go Back</button>
    <br>
    <button type="button" class="review" routerLink="/addRating/{{product.id}}" *ngIf="loggedinuser" >Submit Your Review</button>
  </div>
  <!-- <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> -->
</body>