<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <app-navigation-bar></app-navigation-bar>
<div *ngIf="product" class="product-details">
    
    <h2>{{product.Name }} course</h2>
    <!-- <div><span>id: </span>{{product.id}}</div> -->
    <div>
      <div id="instructor-name-melissa">
        Instructor: {{product.Instructor}} <br>
      </div>
      <div id="class-type-abs">
        Type of class: {{product.Type}}<br>
      </div>
      <div id="room-number">
        Room Number: {{product.Room_Number}}<br>
      </div>
      <div id="avail">
      Availability: {{product.Available}}      <br>
      </div>
      <div id="price">
        Price: ${{product.Price}}
      </div>
      <br>
      <div id="ratings-product">
        <!-- how to style ratings -->
      <label *ngIf="product.Ratings.length!=0" for="product-price">
        <h3>Ratings</h3>
      </label>
        <div *ngFor="let rating of product.Ratings">
            {{rating.RatingInNumber}} {{rating.Review}} {{rating.Username}}
        </div> 
      </div>
    </div>
    <!-- <div id="align-add-button"> -->
      <button type="button" id="add-to-cart" class="save" (click)="addToCart(product.id)">Add to cart
        <i class="fa fa-shopping-cart"></i>
      </button>
    <!-- </div> -->
    <button type="button" id="go-back" class="go-back" (click)="goBack()">Go Back</button>
    <br>
    <button type="button" class="review" routerLink="/addRating/{{product.id}}" *ngIf="loggedinuser" >Submit Your Review</button>
  </div>
  <!-- <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> -->
</body>