.product-details{
    margin-top:150px;
    margin-left: 50px;
    line-height: 1.5em;
}
#product-instructor{
    margin-left: 42px;
   
}
#product-type{
    margin-left: 73px;
}
#product-name{
    margin-left: 5px;
}
.product-course-name{
    text-align: center;
}
#instructor-name-melissa{
    position: relative;
    /* text-align:left; */
    /* position: relative; */
    font-size:large;
    font-weight: bold;
    /* up is + */
    top: 50px;
    /* right is - */
    left: 50px;
}
#class-type-abs{
    /* text-align: right; */
    position: relative;
    font-weight: bold; 
    font-size:large;
    /* up is + */
    top: 75px;
    /* right is + */
    left: 50px; 
} 
#room-number{
    position: relative;
    font-weight: bold; 
    font-size:large;
    /* up is + */
    top: 100px;
    /* right is + */
    left: 50px; 
}
#avail{
    position: relative;
    font-weight: bold; 
    font-size:large;
    /* up is + */
    top: 125px;
    /* right is + */
    left: 50px; 
}
#price{
    position: relative;
    font-weight: bold; 
    font-size:large;
    /* up is + */
    top: 150px;
    /* right is + */
    left: 50px; 
}
#ratings-product{
    text-align: right;
    position: relative;
    /* font-weight: bold;  */
    left: -459px; 
    top: -250px;
}
h2{
    text-align: center; 
    font-family: 'georgia';
    font-weight: bold; 
    font-size: xx-large;
}
#product-room{
    margin-left: 3px;
}
#product-aval{
    margin-left: 32px;
}
#product-price{
    margin-left: 70px;
}
.delete{
    margin-top: 20px;
    height: 30px;
    padding: 5px;
}
/* #align-add-button{
    left: -459px; 
    top: -250px;
} */
#add-to-cart{
    /* position:absolute;  */
    height: 30px;
    width: 150px; 
    /* right: 250px;
    top: 550px; */
    position: relative;
    font-weight: bold; 
    font-size:large;
    /* up is + */
    top: 150px;
    /* right is + */
    left: 220px; 
}
#go-back{
    height: 30px;
    width: 150px; 
    position: relative;
    font-weight: bold; 
    font-size:large;
    /* up is + */
    top: 150px;
    /* right is + */
    left: -205px; 
}
.div{
    margin-top: 150px;
}
.go-back{
    width: 75px;
    height: 30px;
    margin-left: 105px;
}
.review{
    width: 105px;
    height: 30px;
    margin-left:75px;
}