<!DOCTYPE html>
<head>

    
</head>

<body>
    <nav class="top-navbar">
        <label class="logo"><a routerLink="">Rochester Parkour</a></label>
          <input type="checkbox" id="check">
            <label for = "check" class="checkbtn">
              <i class="fas fa-bars"></i>
        </label>
        <ul>
          <li><a routerLink="/about" routerLinkActive="active">about</a></li>
          <li><a routerLink="/signup" routerLinkActive="active">signup</a></li>
          <li><a routerLink="/login" routerLinkActive="active">login</a></li>
        </ul>
      </nav>

    <div class="gym-photos">
        <img src="https://i.ibb.co/rmQ8QrP/randompicture.jpg" class="gym-photo-1">
    </div>



</body>