<body>
<app-navigation-bar></app-navigation-bar>
      <h1 class="order-summary">Order Summary</h1>
<div class="products-in-cart">
      <div class="products-in-cart">
        <table>
          <tr>
            <th class="product-id">Product ID</th>
          </tr>
            <tr class="items" *ngFor="let item of shoppingcart">
              <td>{{item}}</td>  
              <button class="deleteproduct" (click)="removefromcart(item)"> Remove this item</button>
        </table>
        </div>
      </div>
      <button routerLink="/orderconfirmed" routerLinkActive="active" class="submit-button">Check Out</button>
        <h3 class="Total-Price">Total: ${{totalcost}}</h3>

  </body>