.submit-button{
display: flex;
position: relative; top:300px;
margin: auto;
width: 70px;
height: 30px;
font-size: 20px;
border-radius: 12px;
background-color:paleturquoise;
color: white;
text-align:center; 
line-height: 30px;
}

.products-in-cart{
  margin: auto;
  height: 300px;
  width: 50%;
  position: relative; top: 150px;
  background-color: grey;
  border: 3px;
  padding: 10px;
}