<head>

</head>
<nav class="top-navbar">
    <label class="logo"><a routerLink="">Rochester Parkour</a></label>
      <input type="checkbox" id="check">
        <label for = "check" class="checkbtn">
          <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Log Out</a></li>
    </ul>
  </nav>

  <div class="products-in-cart">
<body>
    <h2 class="heading">Dear valued customer,  </h2>
    <br>
    <h4>Your order has been successfully processed and your order confirmation email will be sent you shortly. <br>    </h4>
    <h4> Thank you for shopping at Rochester Parkour.</h4>

    
</body>