    <app-navigation-bar></app-navigation-bar>
<body>
    <div class="image-content" style="text-align: center">
    <img src="https://i.ibb.co/SrmCWxm/thankyouorder.png">
    <div style="text-align:center; font-family:Georgia, 'Times New Roman', Times, serif; color:rgb(17, 138, 149)">
    
    <br>
    <br>
    <br>

    <h3>Your order has been successfully processed and a confirmation email will be sent out shortly</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <h5>Redirecting to the homepage in 4 seconds</h5>
</div>
</div>
    
    
</body>
